
<div class="row">
    <div class="col-md-4">
        <a href="/oauth2/authorize?client_id=client0&grant_type=authorization_code&response_type=code&redirect_uri=http://www.baidu.com&scope=abc,ced,fgh">授权登录</a>
    </div>
</div>
